:root {
	--ds-body-text-color: #1d1d1f;
	--ds-headline-text-color: #1d1d1f;
	--ds-body-background-color: #fff;
	--ds-body-font-stack: text;
	--ds-default-stacked-margin: 0.4em;
	--ds-paragraph-plus-element-margin: 0.8em;
	--ds-headline-plus-first-element-margin: 0.8em;
	--ds-headline-plus-headline-margin: 0.4em;
	--ds-paragraph-plus-headline-margin: 1.6em;

	--ds-body-link-color: #06c;
	--ds-link-disabled-opacity: 0.42;

	--ds-button-background: #0071e3;
	--ds-button-background-hover: #0076df;
	--ds-button-background-active: #006edb;

	--ds-paddlenav-background: #e8e8ed;
	--ds-paddlenav-background-hover: #ececf0;
	--ds-paddlenav-background-active: #dfdfe4;

	--ds-collection-divider: #d2d2d7;
	--ds-collection-active-color: #86868b;
	--ds-collection-hover-color: #06c;
	--ds-collection-text-color: #6e6e73;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--ds-body-text-color);
	background: var(--ds-body-background-color);

	font-family: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

*[data-hidden="true"] {
	opacity: 0;
}

*[data-animation="fade-in-150ms"] {
	animation: fade-in 0.15s ease-in-out forwards;
}

*[data-animation="fade-out-500ms"] {
	animation: fade-out 0.5s ease-in-out forwards;
}

*[data-animation="fade-in-500ms"] {
	animation: fade-in 0.5s ease-in-out forwards;
}

*[data-animation="hidden"] {
	opacity: 0;
}
