.default-watch {
	top: 0;
	left: 50%;
	position: absolute;
	z-index: 1;

	transform: translateX(-50%);
	transition: all 1.1s ease-in 0.4s;

	@media (max-width: 1023px) and (max-width: 736px) {
		top: 40%;
		transform: translate(-50%, -40%);
	}

	&[data-active="false"] {
		@media (min-width: 768px) and (max-width: 1024px) {
			top: 175%;
			transform: scale(2);
		}
		top: 33.5rem;
		transform: scale(2) translateX(-25%);
		@media (max-width: 1023px) and (max-width: 736px) {
			top: 420px;
			transform: scale(1.7);
		}
	}

	.watch-container-1 {
		aspect-ratio: 1;

		width: 52vh;
		max-width: 500px;

		@media (min-width: 768px) and (max-width: 1024px) {
			width: 46vh;
		}

		@media (max-width: 1023px) and (max-width: 736px) {
			width: 85vw;
			max-width: none;
		}
	}

	.watch-wrapper {
		position: relative;
		min-height: 19.188rem;

		.watch-frontView {
			width: 100%;
			position: relative;

			.watch-belt {
				top: 0;
				left: 0;
				display: block;
				position: absolute;

				width: 52vh;
				max-width: 500px;
				height: auto;
			}

			.watch-screen {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 52vh;
				max-width: 500px;
				height: auto;
			}
		}

		.watch-sideView {
			display: block;
			top: 0;
			left: 0;
			width: 52vh;
			max-width: 500px;
			height: auto;
		}
	}
}
